body {
  background-color: #e2aa555e;
}

.footer,
nav {
  background-color: oklch(39.6% 0.141 25.723);
}

.flxdir {
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
}

.main {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  width: 100%;
  position: relative;
  height: 100%;
}

.left {
  background-color: oklch(39.6% 0.141 25.723);
  position: relative;

  /* position: absolute; */
}

.right {
  background-color: oklch(39.6% 0.141 25.723);
  position: relative;
}

.side-bg {
  background-image: url("/Assets/Images/vertbg.PNG");
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.about {
  background-color: oklch(39.6% 0.141 25.723);
  padding: 5%;
}

.about-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  margin-bottom: 20px;
}

.about-title h3 {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #f9b44d;
}

.about-title hr {
  width: 100%;
  color: #f9b44d;
}

.about-content h4 {
  color: white;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  line-height: 2;
  text-align: justify;
}

.content {
  overflow-y: auto;
  padding-bottom: 15px;
}

.content::-webkit-scrollbar {
  display: none;
}

.month {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-family: "roboto", sans-serif;
  color: #832423;
  font-size: 1.4rem;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  right: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle small {
  font-size: 16px;
  font-weight: 600;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c3e528;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f3b421;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.calendar {
  position: relative;
  width: 90%;
  /* height: 100%; */
  margin: auto;
  padding: 2%;
}

.calendar hr {
  margin-top: 2%;
  margin-bottom: 2%;
}

.btn {
  position: absolute;
  top: 50%;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
}

.backbtn {
  left: 15px;
  display: none;
}
.material-symbols-outlined {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.moveRightOff {
  /* transform: translateX(-100%); */
  transition: all 2s ease;
  opacity: 1;
  transform: translateX(0%);
  animation: moveRightOff 0.3s linear forwards alternate;
}
@keyframes moveRightOff {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.moveLeftOff {
  /* transform: translateX(-100%); */
  transition: all 2s ease;
  opacity: 1;
  transform: translateX(0%);
  animation: moveleftOff 0.3s linear forwards alternate;
}
@keyframes moveleftOff {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.moveRightIn {
  /* transform: translateX(-100%); */
  transition: all 2s ease;
  opacity: 0;
  transform: translateX(-100%);
  animation: moveRightIn 0.3s linear forwards alternate;
}

@keyframes moveRightIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.moveLeftIn {
  /* transform: translateX(-100%); */
  transition: all 2s ease;
  opacity: 0;
  transform: translateX(100%);
  animation: moveLeftIn 0.3s linear forwards alternate;
}

@keyframes moveLeftIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.material-symbols-outlined {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.rightBtn {
  right: 15px;
  display: block;
}
.close-btn2 {
  position: absolute;
  top: 10px;
  right: 5px;
  border-radius: 8px;
  padding: 10px;
  font-family: "roboto" sans-serif;
  font-weight: 600;
  color: black;
  background-color: white;
  cursor: pointer;
}

.bgimg,
.bgimg2 {
  background-size: contain;
  width: 95%;
  height: 70%;
  margin: auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("/Public/Calendar/April\(E\).jpg"); */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.footer div {
  font-family: "Roboto", sans-serif;
  color: white;
}

@media (min-width: 2800px) {
  .month {
    font-size: 2rem;
  }

  .toggle {
    gap: 12px;
  }

  .toggle small {
    font-size: 1.6rem;
  }

  .switch {
    width: 80px;
    height: 40px;
  }

  .slider:before {
    width: 35px;
    height: 35px;
  }

  input:checked + .slider:before {
    transform: translateX(40px);
  }
}

@media (max-width: 2800px) {
  .month {
    font-size: 1.7rem;
  }

  .toggle {
    gap: 10px;
  }

  .toggle small {
    font-size: 1.1rem;
  }

  .switch {
    width: 70px;
    height: 35px;
  }

  .slider:before {
    width: 30px;
    height: 30px;
  }

  input:checked + .slider:before {
    transform: translateX(35px);
  }
}

@media (max-width: 1920px) {
  .month {
    font-size: 1.3rem;
  }

  .toggle {
    gap: 10px;
  }

  .toggle small {
    font-size: 1rem;
  }

  .switch {
    width: 50px;
    height: 25px;
  }

  .slider:before {
    width: 20px;
    height: 20px;
  }

  input:checked + .slider:before {
    transform: translateX(25px);
  }
}

@media (max-width: 1440px) {
  .month {
    font-size: 1rem;
  }

  .toggle {
    gap: 10px;
  }

  .toggle small {
    font-size: 0.8rem;
  }

  .switch {
    width: 40px;
    height: 20px;
  }

  .slider:before {
    width: 15px;
    height: 15px;
  }

  input:checked + .slider:before {
    transform: translateX(20px);
  }
}

@media (max-width: 1280px) {
  .month {
    font-size: 0.8rem;
  }

  .toggle {
    gap: 10px;
  }

  .toggle small {
    font-size: 0.6rem;
  }

  .switch {
    width: 30px;
    height: 15px;
  }

  .slider:before {
    width: 10px;
    height: 10px;
  }
  input:checked + .slider:before {
    transform: translateX(15px);
  }
}

@media (max-width: 1024px) {
  .main {
    grid-template-columns: 10% 80% 10%;
  }
  .month {
    font-size: 0.7rem;
  }

  .toggle {
    gap: 10px;
  }

  .toggle small {
    font-size: 0.5rem;
  }

  .switch {
    width: 20px;
    height: 10px;
  }

 
  .slider:before {
    width: 8px;
    height: 8px;
    top: 10%;
    left: 0px;
  }

  input:checked + .slider:before {
    transform: translateX(10px);
  }

  .bgimg,
  .bgimg2 {
    height: 40%;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 8% 84% 8%;
  }
  .month {
    font-size: 0.6rem;
  }

  .toggle {
    gap: 10px;
  }

  .toggle small {
    font-size: 0.5rem;
  }

  .switch {
    width: 20px;
    height: 10px;
  }

  .slider:before {
    width: 8px;
    height: 8px;
    top: 9%;
  }
   input:checked + .slider:before {
    transform: translateX(10px);
  }

  .bgimg,
  .bgimg2 {
    height: 40%;
    width: 98%;
  }
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: 6% 88% 6%;
  }
  .month {
    font-size: 0.6rem;
  }

  .toggle {
    gap: 10px;
  }

  .toggle small {
    font-size: 0.5rem;
  }

  .switch {
    width: 20px;
    height: 10px;
  }

  .slider:before {
    width: 8px;
    height: 8px;
  }

  .bgimg,
  .bgimg2 {
    height: 55%;
    width: 98%;
  }
}

@media (max-width: 600px) {
  .main {
    grid-template-columns: 4% 92% 4%;
  }
  .month {
    font-size: 0.9rem;
  }

  .toggle {
    gap: 8px;
  }

  .toggle small {
    font-size: 0.6rem;
  }

  .switch {
    width: 40px;
    height: 20px;
  }

  .slider:before {
    width: 18px;
    height: 18px;
  }

   input:checked + .slider:before {
    transform: translateX(18px);
  }
  .calendar {
    width: 98%;
  }
  .bgimg,
  .bgimg2 {
    height: 45%;
    width: 98%;
  }
}

@media (max-width: 480px) {
  .main {
    grid-template-columns: 3% 94% 3%;
  }
  .month {
    font-size: 0.7rem;
  }

  .toggle {
    gap: 6px;
  }

  .toggle small {
    font-size: 0.5rem;
  }

  .switch {
    width: 40px;
    height: 20px;
  }

  .slider:before {
    width: 18px;
    height: 18px;
  }

   input:checked + .slider:before {
    transform: translateX(18px);
  }

  .calendar {
    width: 98%;
  }
  .bgimg,
  .bgimg2 {
    height: 40%;
    width: 98%;
  }
}

@media (max-width: 400px) {
  .month {
    font-size: 0.5rem;
  }

  .toggle {
    gap: 6px;
  }

  .toggle small {
    font-size: 0.4rem;
  }

  .switch {
    width: 36px;
    height: 18px;
  }

  .slider:before {
    width: 15px;
    height: 15px;
  }
}
