.collect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  aspect-ratio: 1;
  height: auto;
  cursor: pointer;
  margin-bottom: 2%;
  gap: 10px;
}

.images {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.rightSide {
  position: absolute;
  transform: rotate(-20deg);
  background-image: url("/Assets/Images/vin.jpg");
  width: 80%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease;
  box-shadow: 0 0 4px white;
}

.leftSide {
  position: absolute;
  /* transform: rotate(20deg); */
  left: 25px;
  background-image: url("/Assets/Images/vin2.jpg");
  width: 80%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease;
  box-shadow: 0 0 4px white;
}

.collect:hover .rightSide {
  transform: rotate(0deg);
  transition: all 0.2s ease;
  z-index: 1;
}

.collect:hover .leftSide {
  transform: rotate(0deg);
  left: 50px;
  transition: all 0.2s ease;
}

.collect-title h5 {
  text-align: center;
  font-family: "roboto", sans-serif;
}

@media (min-width: 2800px) {
  .collect-title h5 {
    font-size: 1.5rem;
  }

   .collect {
    gap: 25px;
  }

  .rightSide {
    width: 70%;
  }

  .leftSide {
    width: 70%;
  }
}
@media (max-width: 2800px) {
  .collect-title h5 {
    font-size: 1.2rem;
  }
   .collect {
    gap: 20px;
  }

  .rightSide {
    width: 65%;
  }

  .leftSide {
    width: 65%;
  }
}
@media (max-width: 1920px) {
  .collect-title h5 {
    font-size: 1rem;
  }
}
@media (max-width: 1440px) {
  .collect-title h5 {
    font-size: 0.7rem;
  }
   .collect {
    gap: 15px;
  }
}
@media (max-width: 1280px) {
  .collect-title h5 {
    font-size: 0.5rem;
  }
}
@media (max-width: 1024px) {
  .collect-title h5 {
    font-size: 0.4rem;
  }

  .collect {
    gap: 15px;
  }
}
@media (max-width: 600px) {
  .collect-title h5 {
    font-size: 0.5rem;
  }

  .collect {
    width: 40%;
    gap: 10px;
  }

  .rightSide {
    width: 65%;
  }

  .leftSide {
    width: 65%;
  }
}
