* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.del-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-size: cover;
  /* animation: ModelLoad 1s linear; */
}

.del-modal-content {
  background-color: white;
  position: relative;
  padding: 40px;
  border-radius: 8px;
  width: 50%;
  height: 25vh;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(179, 179, 179, 0.9);
  transition: box-shadow 0.5s ease;
  overflow: auto;
  animation: model 0.5s ease alternate;
  margin: auto;
}

@keyframes model {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.del-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.delMsg {
  font-family: "roboto", sans-serif;
  display: flex;
  justify-content: flex-start;
}

.option-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5%;
  margin-top: 15px;
}

.opt {
  width: 40%;
  border-radius: 10px;
  border: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "DM Serif Text", serif;
  color: aliceblue;
  cursor: pointer;
}

.yes {
  background-color: #49b727;
  box-shadow: 0 0 10px rgb(97, 187, 97);
}

.no {
  background-color: #b72727;
  box-shadow: 0 0 10px rgb(187, 97, 97);
}

.no:disabled,
.yes:disabled {
  background-color: #464646;
}

@media (min-width: 1600px) {
  

  .delMsg {
    font-size: 32px;
  }

  .opt {
    /* height: 4vh; */
    font-size: 24px;
  }
}
@media (max-width: 1600px) {


  .delMsg {
    font-size: 20px;
  }

  .opt {
    /* height: 4vh; */
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .del-modal-content {
    height: 35vh;
  }

  .delMsg {
    font-size: 20px;
  }

  .opt {
    /* height: 4vh; */
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .del-modal-content {
    height: 20vh;
    width: 70vw;
  }

  .delMsg {
    font-size: 20px;
  }

  .opt {
    /* height: 4vh; */
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .del-modal-content {
    height: 20vh;
    width: 90vw;
  }

  .delMsg {
    font-size: 16px;
  }

  .opt {
    /* height: 4vh; */
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .del-modal-content {
    height: 25vh;
    width: 90vw;
  }

  .delMsg {
    font-size: 16px;
  }

  .opt {
    /* height: 4vh; */
    font-size: 10px;
  }
}
